@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Inputs
@using System.ComponentModel.DataAnnotations;

<EditForm Model="@Model">
    <div class="form-group">
        <SfComboBox TValue="int" TItem="State" @bind-Value="@StateValue" Placeholder="Select a state" AllowCustom="false" PopupHeight="auto" DataSource="@States" AllowFiltering="true">
            <ComboBoxEvents TValue="int" TItem="State" ValueChange="ChangeState"></ComboBoxEvents>
            <ComboBoxFieldSettings Text="StateName" Value="StateId"></ComboBoxFieldSettings>
        </SfComboBox>
    </div>
    <div class="form-group">
        Country ID:
        <SfTextBox @bind-Value="@CountryID"></SfTextBox>
    </div>
    <div class="form-group">
        State ID:
        <SfTextBox @bind-Value="@StateID"></SfTextBox>
    </div>
    <div class="form-group">
        Capital:
        <SfTextBox @bind-Value="@Capital"></SfTextBox>
    </div>

</EditForm>
<style>
    .control-wrapper {
        margin: 0 auto;
        width: 250px;
    }

    .control-section .padding-top {
        padding-top: 35px
    }
</style>
@code {
    public int StateValue { get; set; }
    public string Capital { get; set; }
    public string CountryID { get; set; }
    public string StateID { get; set; }
    public State Model = new State();
    public void ChangeState(Syncfusion.Blazor.DropDowns.ChangeEventArgs<int, State> args)
    {
        this.Capital = this.States.Where(state => state.StateId == args.Value).First().Capital;
        this.CountryID = this.States.Where(state => state.StateId == args.Value).First().CountryId;
        this.StateID = this.States.Where(state => state.StateId == args.Value).First().StateId.ToString();
    }
    public class State
    {
        public string StateName { get; set; }
        public string CountryId { get; set; }
        [Key]
        public int StateId { get; set; }
        public string Capital { get; set; }
    }


    public List<State> States = new List<State>() {
        new State() { StateName= "New York", CountryId= "1", StateId= 101, Capital="Albany" },
        new State() { StateName= "Queensland", CountryId= "2", StateId= 104, Capital="Brisbane" },
        new State() { StateName= "Tasmania ", CountryId= "2", StateId= 105, Capital="Hobart " },
        new State() { StateName= "Victoria", CountryId= "2", StateId= 106, Capital="Melbourne" },
        new State() { StateName= "Virginia", CountryId= "1", StateId= 102, Capital="Richmond" },
        new State() { StateName= "Washington", CountryId= "1", StateId= 103, Capital="Olympia" }
    };
}